<mat-toolbar color="primary">
	Angular Material 2 App
  </mat-toolbar>
  <div class="basic-container">
	<div fxLayout="row" fxLayoutAlign="center center">
	  <button mat-button>Basic Button</button>
	  <mat-slide-toggle>Slide Toggle</mat-slide-toggle>
	</div>
  </div>